header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  background: #1c0532;
  font-family: "Sriracha";
  padding-right:30px ;
  padding-left:30px ;
}
header span {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0.5%;
  float: left;
}
header button {
  background: linear-gradient(to right, #b296cb, #dbc3f2);
  color: #1c0532;
  font-size: 18px;
  padding: 5px;
  border: none;
  width: 100px;
  border-radius: 10px;
  float: right;  
  margin: 13px;
}


.QuizCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5% 3% 0 2.5%;
  padding: 10px;
  font-family: arial;
  float: left;
  width: 350px;
  height: 170px;
  border-radius: 10px;
  background: linear-gradient(to right, #b296cb, #dbc3f2);
  cursor: pointer;
}
.questionCard {
  margin: 5% auto 0 auto;
  width: 70%;
  height: 350px;
  background: linear-gradient(to right, #b296cb, #dbc3f2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  box-sizing: border-box;
  color: black;
  border-radius: 4px;
  text-align: justify;
}
.scoreCard {
  margin: 5% auto 0 auto;
  width: 70%;
  height: 350px;
  background: linear-gradient(to right, #b296cb, #dbc3f2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 90px;
  box-sizing: border-box;
  color: black;
  border-radius: 4px;
  text-align: center;
}
.questionCard > h4 > img {
  width: 15px;
  height: 15px;
  float: right;
}
.buttonRow > button {
  background: #1c0532;
  color: white;
  font-size: 18px;
  padding: 5px;
  border: none;
  width: 100px;
  border-radius: 10px;
  margin: 5%;
  
}
.buttonRow {
  margin: 0 auto 0 auto;
  text-align: center;
}

table {
  width: 100%;
}
table > tbody > tr > td > span {
  color: red;
}

